<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Files</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <%= link_to "Upload", new_contacts_file_path(), class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <% if @contacts_files.empty? %>
      <span>The list is empty</span>
    <% else %>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @contacts_files.each do |file| %>
            <tr>
              <td><%= file.id %></td>
              <td><%= file.status.to_s.titleize.capitalize %></td>
              <% if file.csv_file.present? %>
                <td><%= link_to "Download", rails_blob_path(file.csv_file, disposition: "attachment") %></td>
              <% else %>
                <td><span>File not found.</span></td>
              <% end %>
              <td><%= link_to "Details", contacts_file_path(file) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</main>
