<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">File</h1>
  </div>

  <div class="row">
    <div class="col-md-7 col-lg-8">
      <%= form_with(model: @contacts_file) do |f| %>
        <div class="d-grid gap-2 col-6 mx-auto">
          <label class="btn btn-warning">
            Select File
            <span style="display:none;">
              <%= f.file_field :csv_file, accept: "text/csv", multiple: false, required: true %>
            </span>
          </label>
        </div>

        <hr class="my-4">
        
        <h4 class="mb-3">File details</h4>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Name column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[name_column_index]', min: 0, value: 0, class: "form-control", required: true %>
          </div>
        </div>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Birthdate column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[date_of_birth_column_index]', min: 0, value: 1, class: "form-control", required: true %>
          </div>
        </div>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Phone column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[phone_column_index]', min: 0, value: 2, class: "form-control", required: true %>
          </div>
        </div>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Address column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[address_column_index]', min: 0, value: 3, class: "form-control", required: true %>
          </div>
        </div>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Credit Card column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[credit_card_column_index]', min: 0, value: 4, class: "form-control", required: true %>
          </div>
        </div>

        <div class="row g-3 justify-content-start">
          <div class="col-auto">
            <%= f.label "Email column index", class: "col-form-label" %>
          </div>
          <div class="col-2">
            <%= f.number_field 'file_attributes_map[email_column_index]', min: 0, value: 5, class: "form-control", required: true %>
          </div>
        </div>

        <hr class="my-4">

        <%= f.submit "Save", class: "w-100 btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</main>