<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">File</h1>
  </div>

  <div class="row">
    <h4 class="mb-3">Info</h4>
    <div class="row g-3 justify-content-start">
      <div class="col-auto">
        <span><strong>File name:</strong></span>
      </div>
      <div class="col-2">
        <span><%= @contacts_file.csv_file.filename %></span>
      </div>
    </div>

    <div class="row g-3 justify-content-start">
      <div class="col-auto">
        <span><strong>Status:</strong></span>
      </div>
      <div class="col-2">
        <span><%= @contacts_file.status.to_s.titleize.capitalize %></span>
      </div>
    </div>

    <hr class="my-4">

    <h4 class="mb-3">Errors</h4>

    <% if @contacts_file.file_errors.keys.empty? %>
      <span>The error list is empty</span>
    <% else %>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Line</th>
            <th>Errors</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts_file.file_errors.each do |line, errors| %>
            <tr>
              <td><%= line %></td>
              <td><%= errors %></td>
            <tr>
          <% end %>
    <% end %>
  </div>
</main>