<p id="notice"><%= notice %></p>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Contacts</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <%= link_to 'New Contact', new_contact_path, class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <% if @contacts.empty? %>
      <span>The list is empty</span>
    <% else %>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Credit card</th>
            <th>Credit card franchise</th>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.date_of_birth.strftime("%Y %B %e") %></td>
              <td><%= contact.telephone %></td>
              <td><%= contact.address %></td>
              <td><%= contact.last_4_credit_card %></td>
              <td><%= contact.credit_card_franchise %></td>
              <td><%= contact.email %></td>
              <td><%= link_to 'Show', contact %></td>
              <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
              <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <tbody>
        </tbody>
      </table>
    <% end %>
  </div>
</main>
