<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="flex-shrink-0 p-3">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Contacts
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="nav-item"><%= link_to "List", contacts_path(), class: "link-dark rounded" %></li>
            <li class="nav-item"><%= link_to "Files", contacts_files_path(), class: "link-dark rounded" %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>