<!DOCTYPE html>
<html>
  <head>
    <title>KoombeaContacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <div class="container-fluid">
      <div class="row">
        <%= render partial: "layouts/side_menu" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
